{{ define "autorisation" }}
{{ template "header" }}
<main role="main" class="inner cover">
    <h3 class="cover-handing">Авторизация</h3>
    <form action="/check_login" method="post">
        <input type="text" name="login" id="login" placeholder="Введите ваш логин"
               class="form-control"><br>
        <textarea name="password" id="password" class="form-control"
                  placeholder="Введите ваш пароль"></textarea><br>
        <button class="btn btn-warning">Войти</button>
    </form>
</main>
{{ template "footer" }}
{{ end }}