{{ define "index" }}
{{ template "header" }}
<main role="main" class="inner cover">
    <div>
        <h3 class="cover-heading mb-4">Приветствую тебя, мой читатель!</h3>
        <p class="lead mb-4"> Этот текст не несет какого-либо смысла и находится тут только для исключения пустого места
            на странице!</p>
        {{ range. }}
        <div class="jumbotron">
            <h4 class="display-6"> {{.Title}}</h4>
            <p class="lead">{{.Anons}}</p>
            <p class="lead">
                <a class="btn btn-info" href="/post/{{.Id}}" role="button">Прочитать подробнее</a>
            </p>
            <hr class="my-4">
        </div>
        {{else}}
        <p class="lead">Тут совсем пусто, добавьте хоть одну статью :)</p>
        <a href="/create" class="btn btn-lg btn-success ">Создать статью</a>
        {{end}}
    </div>
</main>
{{ template "footer" }}
{{ end }}
